.pulsate {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        background-color: rgba(40, 167, 69, 0.90);
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: rgba(40, 167, 69, 0.90);
    }
}
